## Variables and Simple Data Types

In [1]:
%config IPCompleter.use_jedi=False # No Jedi's Allowed.  What is this all about?

### Variables

Variable containing a string.

In [2]:
message = "Hello Evergy!"
print(message)

Hello Evergy!


### Naming and Using Variables

A few rules and guidelines.

- Variable names can contain only letters, numbers, and underscores. They can start with a letter or an underscore, but not with a number.

- Spaces are not allowed in variable names, but underscores can be used to separate words in variable names.

- Avoid using Python keywords and function names as variable names.

- Variable names should be short but descriptive. For example, **name** is better than <b>n</b>, and **student_name** is better than **s_n**, and **name_length** is better than **length_of_persons_name**.

- Be careful when using the lowercase letter <b>l</b> and the uppercase letter <b>O</b> because they could be confused with the numbers <b>1</b> and <b>0</b>.

It's **very** easy to do **bold** and *italics*:

In [3]:
var_1 = "Python is cool."
print(var_1)

Python is cool.

In [4]:
_1_var = "Variable names beginning with underscores are okay."
print(_1_var)

Variable names beginning with underscores are okay.

In [5]:
1_var = "Variable names beginning with numbers are bad."
print(1_var)

SyntaxError: invalid token (<ipython-input-5-0c27a4df9424>, line 1)

### Strings

#### You can use double quotes or single quotes to define a string.

In [6]:
"This is a string."

'This is a string.'

In [7]:
'This is also a string.'

'This is also a string.'

#### This flexibility allows you to use quotes and apostrophes within your strings:
- Use single quotes to display double quotes.

In [8]:
print('I told my friend, "Python is my favorite language!"')

I told my friend, "Python is my favorite language!"

- Use double quotes to display single quotes.

In [9]:
print("The language 'Python' is named after Monty Python, not the snake.")

The language 'Python' is named after Monty Python, not the snake.

- Use double quotes to display apostrophe.

In [12]:
print("One of Python's strengths is its diverse and supportive community.")

One of Python's strengths is its diverse and supportive community.

### Changing Case in a String with Methods

- Set string as a title where the first letter of each word is upper case.

In [14]:
name = "florence nightingale"  
print(name.title())
name.capitalize()

Florence Nightingale

'Florence nightingale'

##### Interesting Wikipedia entries on Florence Nighingale (Data Scientist/A Founder of Statistics/Nurse).
https://en.wikipedia.org/wiki/Florence_Nightingale#Statistics_and_sanitary_reform

https://en.wikipedia.org/wiki/Founders_of_statistics

- Uppercase and lowercase methods.

In [15]:
name = "Florence Nightingale"  
print(name.upper())
print(name.lower())

FLORENCE NIGHTINGALE
florence nightingale

### Combining or Concatenating Strings

#### Concatenate variables

In [18]:
first_name = "florence"
last_name = "nightingale"
full_name = first_name + " " + last_name
full_name = first_name + " " + last_name

print(full_name)

florence nightingale

- Concatenate in print statement

In [19]:
print("Hello, " + full_name.title() + "!")

Hello, Florence Nightingale!

### Adding Whitespace to Strings with Tabs or Newlines

- Add a tab with `\t`

In [20]:
print("Python")

print("\tPython")

Python
	Python

- Add newline with `\n`

In [21]:
print("Languages:\nPython\nR\nJavaScript")

Languages:
Python
R
JavaScript

- Use newlines and tabs together:

In [22]:
print("Languages:\n\tPython\n\tR\n\tJavaScript")

Languages:
	Python
	R
	JavaScript

### Stripping Whitespace

- Strip whitespace on the right side of a string with `rstrip()`

In [23]:
favorite_language = 'python '
favorite_language

'python '

In [24]:
favorite_language.rstrip() # Removed by rstrip() method

'python'

In [25]:
favorite_language # Space is still there

'python '

In [26]:
favorite_language = favorite_language.rstrip() # Permanently removed by reassigning stripped result to variable.
favorite_language

'python'

- What if space is also on the left?  We use `lstrip()`

In [27]:
favorite_language = ' python '
favorite_language

' python '

In [28]:
favorite_language.lstrip() # Space on left is removed, but space on right remains

'python '

- We could chain both `lstrip()` and `rstrip()` methods together to strip both sides.

In [29]:
favorite_language.lstrip().rstrip()

'python'

- But, let's keep it simple with just the `strip()` method to remove whitespace on both left and right.

In [30]:
favorite_language.strip()

'python'

## Numbers

### Integers
- You can add (+), subtract (-), multiply (*), and divide (/) integers in Python.

In [31]:
2+3

5

In [32]:
3-2

1

In [33]:
2*3

6

In [34]:
3/2 # In Python 3+, dividing integers creates a float type, but it might not in Python 2.7

1.5

- Exponentiation

In [35]:
2**3

8

In [36]:
2**(1/2) # square root, but there are other ways using math library

1.4142135623730951

### Floats
- a decimal number is a float type

In [37]:
type(3.141592)

float

In [38]:
0.3+0.2

0.5

In [39]:
0.4-0.2

0.2

In [40]:
0.2*0.3

0.06

In [41]:
0.4/0.2

2.0

- Be aware that you can sometimes run into precision issues that represent numbers in an unexpected way.
- We would expect that adding 0.2 to 0.1 would produce 0.3, but....

In [42]:
0.2+0.1

0.30000000000000004

- We generally don't have to worry about this causing a problem, but if you want more detailed info on the issue, there is a thread on StackOverflow: https://stackoverflow.com/questions/588004/is-floating-point-math-broken

- Also see Python docs: https://docs.python.org/3/tutorial/floatingpoint.html

### Avoiding Type Errors with the str() Function

In [43]:
age = 23
message = "Happy " + age + "rd Birthday!"
print(message)

TypeError: can only concatenate str (not "int") to str

- To fix this, we need to cast `age` variable as string using `str()`

In [44]:
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 23rd Birthday!