## Intro to Lists

In [1]:
%config IPCompleter.use_jedi=False # No Jedi's Allowed.  What is this all about?

### What is a List?

- A `list` is a collection of items in a particular order.
- A `list` can contain:
    - Letters
    - Numbers
    - Strings
    - A combination of letters, numbers, or strings.
    - Other lists
    - Other data structures

- Square brackets `[]` indicate a list and individual elements are separated by commas.

In [2]:
['A',1,3.3,'anything goes',['B','2','4.3','there is a list in a list', 'and a tuple'],(2,3,4),{'Z':42}]

['A',
 1,
 3.3,
 'anything goes',
 ['B', '2', '4.3', 'there is a list in a list', 'and a tuple'],
 (2, 3, 4),
 {'Z': 42}]

In [5]:
ex_list = ['A',1,3.3,'anything goes',['B','2','4.3','there is a list in a list', 'and a tuple'],(2,3,4),{'Z':42}]

### Access Elements in the List
- To access an item in the list, we can use the index.  Indexes start at zero (0) for the first item in the list.

In [6]:
print(ex_list[0])

A

In [7]:
print(ex_list[2])

3.3

In [8]:
print(ex_list[3])

anything goes

- You can also use negative index numbers

In [9]:
print(ex_list[-1])
print(ex_list[-2])

{'Z': 42}
(2, 3, 4)

- Look at type of each list element.

In [11]:
print("Element type:",type(ex_list))
print("Element type:",type(ex_list[0]))
print("Element type:",type(ex_list[1]))
print("Element type:",type(ex_list[2]))
print("Element type:",type(ex_list[3]))
print("Element type:",type(ex_list[4]))
print("Element type:",type(ex_list[5]))
print("Element type:",type(ex_list[6]))

Element type: <class 'list'>
Element type: <class 'str'>
Element type: <class 'int'>
Element type: <class 'float'>
Element type: <class 'str'>
Element type: <class 'list'>
Element type: <class 'tuple'>
Element type: <class 'dict'>

### Using Individual Values from a List

In [12]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."

print(message)

My first bicycle was a Trek.

### Modifying Elements in a List

In [13]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [14]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

This replaced the Honda with a Ducati.

### Adding Elements to a List

#### Appending data to lists

- The `append()` method makes it easy to build lists dynamically.

In [15]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [16]:
motorcycles = []

print(motorcycles)
motorcycles.append('honda')
print(motorcycles)
motorcycles.append('yamaha')
print(motorcycles)
motorcycles.append('suzuki')

print(motorcycles)

[]
['honda']
['honda', 'yamaha']
['honda', 'yamaha', 'suzuki']

#### Inserting Elements into a List
- Use `insert()` methid to insert at a particular position, shifting everyhting else down the list.

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [18]:
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(1, 'ducati')
print(motorcycles)

['honda', 'ducati', 'yamaha', 'suzuki']

#### Removing an Item Using the `del` Statement

- Remove honda

In [19]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

- Remove yamaha

In [20]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

#### Removing an Item Using the `pop()` Method

The **`pop()`** method removes the last item in a list, but it lets you work with that item after removing it. The term **pop** comes from thinking of a list as a stack of items and popping one item off the top of the stack. In this analogy, the top of a stack corresponds to the end of a list.

In [21]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

- Simple application

In [22]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

#### Popping Items from any Position in a List
- Pop from the beginning of the list

In [23]:
motorcycles = ['honda', 'yamaha', 'suzuki']

first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

#### Removing an Item by Value
- Remove by value with `remove()` method.

In [24]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [25]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

#### List Slicing

In [26]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati', 'kawasaki','harley-davidson','triumph','bmw']

- Slice to get indexes 1, 2 , and 3

In [27]:
motorcycles[1:4]

['yamaha', 'suzuki', 'ducati']

- Slice starting with index 1, going to index 5, every 2nd item

In [28]:
motorcycles[1:6:2]

['yamaha', 'ducati', 'harley-davidson']

- Slice in reverse.  Start at the end and get everything in reverse order, stopping before index 3.

In [29]:
motorcycles[:3:-1]

['bmw', 'triumph', 'harley-davidson', 'kawasaki']

### Organizing a List
#### Sorting a List Permanently with the `sort()` Method

In [30]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

- In reverse order.

In [31]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

#### Sorting a List Temporarily with the `sorted()` Function

In [32]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

#### A List in Reverse Order with `reverse`.

- Simply reverses order of the list.

In [33]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

#### Finding the Length of a List with `len()` function

In [34]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

## Working With Lists

### Looping Through an Entire List

We can use `for` loops to iterate through a list, element by element and perform operations on each item.

- Use for loop to print names in a list.

In [35]:
magicians = ['alice', 'david', 'carolina'] # Define the list
for magician in magicians:                 # Retrieve value from list 'magicians' and store it in `magician`
    print(magician)                        # Print content of magigian and then rinse, repeat 
                                           # until no more values in 'magicians'

alice
david
carolina

- Another example

In [36]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

### Creating Numerical Lists

- Use `range()` function with the `list()` function to create a list of numbers.

In [37]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Use start and step numbers to create even number list. `range([start,] stop [, step])`

In [38]:
even_numbers = list(range(2,11,2)) # start at 2, stop at 11, step by 2
print(even_numbers)

[2, 4, 6, 8, 10]

In [39]:
odd_numbers = list(range(1,11,2)) # start at 1, stop at 11, step by 2
print(odd_numbers)

[1, 3, 5, 7, 9]

#### Calculate and append numbers to create a list.

In [40]:
squares = []
numbers = []
cubes = []
for value in range(1,11):
    square = value**2
    numbers.append(value)
    squares.append(square)
    cubes.append(value**3)

print("Numbers: ",numbers)    
print("Squares: ",squares)
print("Cubes: ",cubes)

Numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cubes:  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### What if we try to copy a list like the following?

In [41]:
squares2 = squares
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### looks the same, right?  Let's modify the copy.

In [42]:
squares2.append(11**2)
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

#### But, look what happened to the original.

In [43]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

#### To avoid this problem, we need to use `copy()` or `deepcopy()`

In [44]:
print("Original:",squares)
squares3=squares.copy()
print("Copy:",squares3)
squares3[9] = 99
print("Copy after change:",squares3)
print("Original:",squares)

Original: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
Copy: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
Copy after change: [1, 4, 9, 16, 25, 36, 49, 64, 81, 99, 121]
Original: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

#### What happens if elements have more than one dimension?

In [45]:
squares[5]=[5,7]
print("Original:",squares)
squares4=squares.copy()
print("Copy:",squares4)
squares4[5][1]=9999
print("Copy after Mod:",squares4)
print("Original:",squares)

Original: [1, 4, 9, 16, 25, [5, 7], 49, 64, 81, 100, 121]
Copy: [1, 4, 9, 16, 25, [5, 7], 49, 64, 81, 100, 121]
Copy after Mod: [1, 4, 9, 16, 25, [5, 9999], 49, 64, 81, 100, 121]
Original: [1, 4, 9, 16, 25, [5, 9999], 49, 64, 81, 100, 121]

#### Modifying the copy also changed the original.

#### To prevent this, we can use `deepcopy()`
- First, start over.

In [46]:
squares = []
numbers = []
cubes = []
for value in range(1,11):
    square = value**2
    numbers.append(value)
    squares.append(square)
    cubes.append(value**3)

print("Numbers: ",numbers)    
print("Squares: ",squares)
print("Cubes: ",cubes)

Numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cubes:  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [47]:
import copy

squares[5]=[5,7]
print("Original:",squares)
squares5=copy.deepcopy(squares)
print("Copy:",squares5)
squares5[5][1]=9999
print("Copy after Mod:",squares5)
print("Original:",squares)

Original: [1, 4, 9, 16, 25, [5, 7], 49, 64, 81, 100]
Copy: [1, 4, 9, 16, 25, [5, 7], 49, 64, 81, 100]
Copy after Mod: [1, 4, 9, 16, 25, [5, 9999], 49, 64, 81, 100]
Original: [1, 4, 9, 16, 25, [5, 7], 49, 64, 81, 100]

- Good, original did not change this time.  Only the copy changed.

### List Comprehensions

#### With a for loop, we create a list.

In [48]:
nums = [1,2,3,4,5,6,7,8,9,10]

# I want 'n' for each 'n' in nums
my_list = []
for n in nums:
  my_list.append(n)
print( my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### To do the same thing with a list comprehension, we do:

In [49]:
my_list_comp = [n for n in nums] # Almost like reading the comment above the preceding 'for' loop
print(my_list_comp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Now, the list of squares again.  First in the `for` loop

In [50]:
# I want 'n*n' for each 'n' in nums
my_list = []
for n in nums:
  my_list.append(n*n)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### The squares list using list comprehension

In [51]:
my_list_comp_sq = []
my_list_comp_sq = [n*n for n in nums] # Almost like reading the comment above the preceding 'for' loop
print(my_list_comp_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Something a little more complicated.  Using `for` loop first.

In [52]:
# I want 'n' for each 'n' in nums if 'n' is even
my_list = []
for n in nums:
  if n%2 == 0:
    my_list.append(n)
print (my_list)

[2, 4, 6, 8, 10]

#### Now, with list comprehension:

In [53]:
my_list_comp_even = []
my_list_comp_even = [n for n in nums if n%2 == 0] # Almost like reading the comment above the preceding 'for' loop
print(my_list_comp_even)

[2, 4, 6, 8, 10]

#### Nested `for` loop to generate tuples

In [54]:
# I want a (letter, num) pair for each letter in 'abcd' and each number in '0123'
my_list_tup = []
for letter in 'abcd':
  for num in range(4):
    my_list_tup.append((letter,num))
print( my_list_tup)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

#### Now use list comprehension to generate tuples in a much more compact form

In [55]:
my_list_tup = []
my_list_tup = [(letter, num) for letter in 'abcd' for num in range(4)]
print(my_list_tup)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

### Bonus - Dictionary and Set Comprehensions

In [56]:
# Dictionary Comprehensions
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']
#print(zip(names, heros))  #Can't print zip directly in Python 3.  This only works in 2.7
#for tup in zip(names, heros):
#    print(tup)

#### Create dictionary from two lists using `for` loop.

In [57]:
# I want a dict{'name': 'hero'} for each name,hero in zip(names, heros)
my_dictionary = {}
for name, hero in zip(names, heros):
    my_dictionary[name] = hero
print (my_dictionary)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

#### Now, create it with dictionary comprehension

In [58]:
my_dictionary={}
my_dictionary = {name: hero for name, hero in zip(names, heros)}
print (my_dictionary)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

#### What if we wanted to exclude Batman since he's not "really" a superhero like the rest?

In [59]:
my_dictionary={}
my_dictionary = {name: hero for name, hero in zip(names, heros) if name != 'Bruce'}
print (my_dictionary)

{'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

#### Set Comprehensions

Start with a list of numbers, some repeating.

In [60]:
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]
set(nums) # A set is iterable, mutable, and has no duplicates

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Using a `for` loop to create the set for list of numbers with duplicates

In [61]:
# Set Comprehensions
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]
my_set = set()
for n in nums:
    my_set.add(n)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Using set comprehension to create the set

In [62]:
my_set = {} # Curly braces also used to define an empty set, but it initially thinks it's
            # a dictionary until we create the set in the comprehension
type(my_set)
my_set = {n for n in nums}

In [64]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}